.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 24px;
    padding: 20px;
    
    @media (max-width: 768px) {
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
      gap: 16px;
      padding: 16px;
    }
  }
  
  .pokemon-card {
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    
    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
    
    // Controlar tamaño de la imagen dentro de la card
    img[mat-card-image] {
      height: 200px;
      object-fit: contain;
      background-color: #f5f5f5;
      padding: 16px;
    }
    
    mat-card-header {
      padding: 16px 16px 0;
    }
    
    mat-card-content {
      padding: 16px;
    }
    
    mat-card-actions {
      padding: 8px 16px 16px;
    }
  }

  // En tu archivo .scss del componente
.badgeStyle {
  display: block;
  width: 90%;
  padding: 8px 12px;
  border-radius: 4px;
  margin-bottom: 8px;
  font-size: 14px;
  
  &:last-child {
      margin-bottom: 0;
  }
}

// Si usas Bootstrap badges
.badge-primary {
  background-color: #007bff;
  color: white;
}

.badge-secondary {
  background-color: yellow;
  color: black;
}

.badge-warning {
  background-color: red;
  color: white;
}

.badge-secondary-fixed {
  background-color: #ccc2db;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

// Si quieres que ocupe todo el ancho pero con estilo de badge
.badge-block {
  display: block;
  width: 100%;
  text-align: center;
}

// pokemon-list.component.scss
.pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 24px;
  padding: 16px;
  
  .page-select {
    width: 100px;
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: transparent;
  pointer-events: none; /* Deja pasar clics al fondo si quieres */
}

.loading-gif {
  width: 700px;
  height: auto;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 200px);  // Ocupa casi toda la pantalla
  width: 100%;
  gap: 16px;
}

.badges-container {
  width: 92%;
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
  
  .badge {
      flex: 1;  // Cada badge ocupa el mismo espacio disponible
      // o también puedes usar:
      // width: 50%;
      text-align: center;  // Centrar el texto
  }
}